* {
  box-sizing: border-box;
  font-family: 'Permanent Marker', cursive;
}

div.layover-bar {
  position: fixed;
  width: 100%;
  min-height: 2rem;
  background-color: #000;
  padding: .5rem;
}

.top-bar {
  top: 0;
}

.bottom-bar {
  bottom: 0;
}

.bar-section {
  color: #E5E5E5;
  border-right: 1px solid #FCA311;
  padding-left: .75rem;
}

.bar-section svg {
  color: #FCA311;
}

.nameplate {
}

.name {
  margin-left: .75rem;  
}